body{
    background-color: rgba(12, 11, 11, 0.829);
}


li{
    list-style-type: none;
    display: inline;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.678);
    padding: 10px;
}
.a_txt_dec_none{
    text-decoration: none;
    color: white;
}
.pading_new_lst{
    padding-left: 500px;
}
.intro{
    text-align: center;
}
img{
    padding-top: 50px;
    padding-bottom: 0px;
    width: 500px;

}
.h3_1_edit{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
}
.p1_edit{
    text-align: center;
    font-style: italic;
    color:white ;
}
.aboutme{
    background-color: white;
    width: 100%;
    padding: 2px;
}
.h2_1_edit{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.p2_edit{
    text-align: center;
    font-size: medium;
    line-height: 48px;
    font-weight: bold;
    color: rgb(54, 52, 52);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h2_2_edit{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}
table{
    border: 2px black solid;
    text-align: center;
    line-height: 48px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td,th,tr{
    border: black 2px solid;
}
.table_edit{
    margin-left: auto;
    margin-right: auto;
}
tr:nth-child(even){
    background-color: rgb(155, 152, 152);
}
h2{
    text-align: center;
}
.mywork{
    background-color: white;
    padding: 100px;
}
.img_1{
    height: 40px;
    width: 40px;
}
.img_2{
    height: 40px;
    width: 40px;
}
.img_3{
    height: 40px;
    width: 40px;
}
.img_4{
    height: 40px;
    width: 40px;
}
.img_5{
    height: 40px;
    width: 40px;
}
.social_connect{
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
.footer{
    color: white;
    display: inline;
}
.p4_edit{
    padding-left: 880px;
}
.imgedit{
    border-radius: 70%;
    width: 30%;
    border: gray;
}
